@charset "ISO-8859-1";

* {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url("/image/bankinghome.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 850px;
}

p {
	color: white;
	font-size: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',sans-serif;
	margin-top: 10px;
	margin-left: 40px;
	margin-bottom: 10px;
}

span, h2 {
	color: coral;
}

.dash {
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.6);
}

h2 {
	text-align: center;
	text-decoration: overline;
	text-transform: uppercase;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px; 
}

#a1 {
	margin-left: 40px;
	font-size: 18px;
	color: white;
	text-decoration: none;
}

#a1:hover {
	text-decoration: underline;
	text-decoration-color: coral;
}

h1 {
	color: coral;
	text-align: center;
	font-size: 30px;
	font-style: italic;
	background-color: rgba(0, 0, 0, 0.6);
	padding-top: 10px;
}

a {
	color: coral;
}