@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-image: url("/image/nexthome.jpg");
	background-repeat: no-repeat;
	background-size: 100% 750px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 700px;
}

div {
	height: 300px;
	width: 350px;
	background: transparent;
	border-radius: 10px;
	border: 1px solid rgb(58, 58, 81);
	box-shadow: 3px 3px 10px black;
}

h3 {
	font-size: 30px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-transform: capitalize;
	margin-top: 33px;
	margin-bottom: 18px;
	text-shadow: -5px 0px white;
	text-align: center;
}

p {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 5px;
}

form {
	margin-left: 38px;
}

label {
	font-weight: bold;
	margin-bottom: 5px;
}

input {
	height: 30px;
	width: 200px;
	border-radius: 15px;
	text-align: center;
	margin-top: 10px;
	margin-left: 35px;
}

input[type="submit"] {
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
	background-color: #0056b3;
}

h4 {
	margin-left: 70px;
	margin-top: 10px;
	color: white;
}

a {
	color: rgb(232, 155, 54);
}