@charset "ISO-8859-1";

*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url("/image/banking.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	font-size: 20px;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 3px 3px 10px black;
    backdrop-filter: blur(10px);
    width: 500px;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    color: white;
    margin: 0 0 15px 0;
}

.input {
	height: 40px;
	width: 300px;
	text-align: center;
	background: transparent;
	border-radius: 15px;
	border: 1px solid black;
}

input[type="date"] {
	height: 40px;
	width: 300px;
	border-radius: 15px;
	border: 1px solid black;
	text-align: center;
	background: transparent;
}

input[type="date"]:hover {
	background: white;	
}

input::placeholder {
	color: black;
	font-size: 15px;
}

.input:focus {
	background-color: white;
	color: black;
	font-size: 15px;
}

label {
	text-transform: uppercase;
	font-size: 20px;
	color: white;
	text-shadow: 1px 1px 2px black;
}

.btn {
    height: 40px;
	width: 250px;
	background-color: #04AA6D;
    margin-bottom: 10px;
    border-radius: 15px;
    color: white;
    border: none;
    font-size: 20px;
	transition: ease-in 0.5s;
	margin-block: 10px;
}

.btn:hover {
	background: #04aa1a;
	cursor: pointer;
}

a {
    font-style: italic;
    padding: 10px;
}

a:hover {
	color: hsl(218.5,79.2%,66.1%);
}