<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Check Balance</title>
<link  href="./css/check-balance.css" rel="stylesheet"/>
</head>
<body>
  <form action="processcheckbalance" method="post" id="form">
    <p th:text="'One Time Password(OTP):' + ${otp}"></p>
    <input class="input" type="number" placeholder="Enter Your OTP" name="userOTP">
    <input class="input" type="password" placeholder="Enter Your Password" name="userPassword">
    <input class="btn" type="submit" value="Submit">
	<p th:text="${message}"></p>
	<a href="home">Home</a>
  </form>
</body>
</html>