<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Credit</title>
<link rel="stylesheet" href="./css/credit-amount.css" />
</head>
<body>
	<form action="performcredit" method="post" id="form">
		<h1>Credit Amount</h1>
		<label>Enter Your Account Number</label>
		<input class="input" placeholder="Enter Your Account Number" name="accountNumber" required>
		<label>Enter Amount</label>
		<input class="input" placeholder="Enter the Amount" name="amount" required>
		<input class="btn" type="submit" value="Credit">
		<a href="home">Home</a>
	</form>
</body>
</html>