<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password</title>
<link href="/style2.css" rel="stylesheet">
</head>
<body>
<div>
    <center>
        <form action="update">
            <h3>Forgot Password</h3>
            <label>Enter Your Email or MobileNumber</label><br>
            <input class="inp" placeholder="Enter Your EmailID/MobileNumber" name="emp"><br>
    
            <label>Enter Your DOB</label><br>
            <input class="inp" type="date" name="dob"><br>
    
            <label>Enter the New Password</label><br>
            <input class="inp" type="password" placeholder="Enter Your NewPassword" name="newpassword"><br>
    
            <label>Confirm Password</label><br>
            <input class="inp" type="password" placeholder="Enter Your Password" name="confirmpassword"><br>
    
            <input class="inp1" type="submit" value="UPDATE"><input class="inp1" type="reset" value="CANCEL">
        </form>
    </center>
</div>
<center><span th:text="${msg}"></span></center>
</body>
</html>