<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password</title>
<link href="./css/forgot-password.css" rel="stylesheet">
</head>
<body>
    <form action="updatepassword" id="form" method="post">
	<h1>Forgot Password</h1>
	<label>Enter Your Email</label>
	<input class="input" placeholder="Enter Your Email Id" name="emailidOrMobile">
	
	<label>Enter Your DOB</label>
	<input type="date" name="dob">
	
	<label>Enter the New Password</label>
	<input class="input" type="password" placeholder="Enter Your New Password" name="newPassword">
	
	<label>Confirm Password</label><br>
	<input class="input" type="password" placeholder="Enter Your Password to Confirm" name="confirmPassword">
	
	<input class="btn" type="submit" value="Update">
	<input class="btn" type="reset" value="Cancel">
	
	<a href="/">Sign In</a>
	<p th:text="${message}"></p>
    </form>
</body>
</html>