<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password</title>
<link href="./forgot-password.css" rel="stylesheet">
</head>
<body>
<div>
     <form action="update" id="form">
		<h1>Forgot Password</h1>
		<label>Enter Your Email</label><br>
		<input class="input" placeholder="Enter Your Email Id" name="emp">
		<label>Enter Your DOB</label>
		<input type="date" name="dob">
		<label>Enter the New Password</label>
		<input class="input" type="password" placeholder="Enter Your NewPassword" name="newpassword">
		<label>Confirm Password</label><br>
		<input class="input" type="password" placeholder="Enter Your Password" name="confirmpassword">
		<input class="btn" type="submit" value="UPDATE">
		<input class="btn" type="reset" value="CANCEL">
		<a href="login">Sign In</a>
		<span th:text="${msg}"></span>
     </form>
</div>
</body>
</html>