<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<link href="/home.css" rel="stylesheet">
</head>
<body>
    <marquee behavior="alternate" direction="" ><p>Welcome To <span>Banking Application</span></p></marquee>
    <h1 th:text="${'Welcome ' + user.firstname + ' ' + user.lastname}"></h1>
    <h2 class="dash">DashBoard</h2>
     <div class="name">
          <a id="a1" href="checkbalance">CHECK BALANCE</a>
          <a id="a1" href="debit">DEBIT AMOUNT</a>
          <a id="a1" href="credit">CREDIT AMOUNT</a>
          <a id="a1" href="statement">STATEMENTs TILL NOW</a>
     </div>
</body>
</html>