<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<link href="./css/home.css" rel="stylesheet">
</head>
<body>
    <marquee behavior="alternate"><p>Welcome To Banking Application</p></marquee>
     <div class="dashboard">
	    <h1 th:text="${'Welcome ' + account.firstName + ' ' + account.lastName}"></h1>
	    <h2>DashBoard</h2>
          <div id="all-links">
          	<a class="link" href="checkbalance">check balance</a>
	        <a class="link" href="transfer">transfer amount</a>
	        <a class="link" href="credit">credit amount</a>
	        <a class="link" href="statement">statement's till now</a>
	        <a class="link" href="updateprofile">edit profile</a>
          </div>
     </div>
     <p id="message" th:text="${message}"></p>
</body>
</html>