<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link href="./css/registration.css" rel="stylesheet">
</head>
<body>
	<div id="form">
		<h1>Create an Account</h1>
		<form action="registrationpage" method="post">
			<div>
				<input class="input" type="text" placeholder="Enter Your First Name" id="first" name="firstName" required /> 
				<input class="input" type="text" placeholder="Enter Your Last Name" id="last" name="lastName" required />
			</div>
			<div>
				<input class="input" type="number" placeholder="Enter Your Age" name="age" required /> 
				<input class="input" type="email" placeholder="Enter Your Email Id" name="emailId" required />
			</div>
			<div>
				<label id="amount">Enter Opening Balance</label> 
				<input class="input" type="number" placeholder="Enter Amount" name="amount" required />
			</div>
			<div>
				<label id="dob">Enter Your DOB</label> 
				<input type="date" placeholder="Enter Date of Birth" name="dateOfBirth" required />
			</div>
			<div>		
				<label id="gender">Select Your Gender</label>
				<input type="radio" name="gender" value="Male" />Male
				<input type="radio" name="gender" value="Female" />Female
			</div>
			<div>
				<input class="input" type="number" placeholder="Enter Your Aadhar" name="aadhar" required />
				<input class="input" type="text" placeholder="Enter Your Address" name="address" required />
			</div>
			<div>
				<input class="input" placeholder="Enter Your Mobile Number" name="mobileNumber" required />
				<input class="input" type="password" placeholder="Enter Your Password" name="password" required />
			</div>
			<input class="btn" type="submit" value="Create Account" />
			<input class="btn" type="reset" value="Cancel" /> 
		</form>
		<a href="/">
			<button class="btn">Sign In</button>
		</a>
	</div>
</body>
</html>