<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Get Statement</title>
<link rel="stylesheet" href="./css/check-statements.css" />
</head>
<body>
     <form action="statementcheck" id="form">
         <h1>Check Statements</h1>
         <label>Enter From Date</label><br>
         <input class="input" type="date" name="fromDate"><br>
         <label>Enter To Date</label><br>
         <input class="input" type="date" name="toDate"><br>
         <input class="btn" type="submit" value="Check">
         <a href="home">Home</a>
     </form>
</body>
</html>