<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
	h1 {
		font-family: 'Roboto';
		text-transform:uppercase;
		text-decoration: underline; 
	}
</style>
</head>
<body>
	<a href="home">Home</a>
	<h1>Statements</h1>
	<p th:text="${message}"></p>
	<table border="1">
	<tr>
		<th>Transaction Id</th>
		<th>Transaction Date</th>
		<th>Transaction Amount</th>
		<th>Transaction Type</th>
	</tr>
	<tr th:each="statement:${listOfStatements}">
	<td th:text="${statement.transactionId}"></td>
	<td th:text="${statement.transactionDate}"></td>
	<td th:text="${statement.transactionAmount}"></td>
	<td th:text="${statement.transactionType}"></td>
	</tr>
	</table>
</body>
</html>