<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Debit</title>
<link rel="stylesheet" href="./css/debit-amount.css" />
</head>
<body>
	<form action="performtransfer" method="post" id="form">
		<h1>Transfer Amount</h1>
		<label>Enter Account Number of Receiver</label>
		<input class="input" type="text" placeholder="Enter Account Number" name="accountNumber" required>
		<label>Enter Amount</label>
		<input class="input" type="number" placeholder="Enter the Amount" name="amount" required>
		<input class="btn" type="submit" value="Transfer">
		<a href="home">Home</a>
	</form>
</body>
</html>